
.navbar-dark {
  background-color: #212529 !important;
}

.navbar-nav {
  display: flex;
  align-items: center;
}


.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}


body {
    background-color: #dceefb;
    margin: 0;
  }
  
 
.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 5%;
  }
  
  
  .text-content {
    max-width: 50%;
    text-align: left;
  }
  
  
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
  
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  
  h3 {
    font-style: italic;
    font-size: 1.5em;
    color: #555;
  }
  
  
  .money-text {
    display: inline-block;
    position: relative;
    color: #ff4d4d;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .money-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 100%;
    height: 3px;
    background-color: black;
    transform: rotate(-10deg);
  }
  
  
.image-content {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh; 
  width: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}


.landing-image {
  width: 100%;
  height: 100vh; 
  object-fit: cover; 
}
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 70%;
    background-color: #4d5c6c;
    color: white;
    text-align: center;
    padding: 5px 0;
    bottom: 0;
  }
  